.details_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 654px;
    height: 509px;
    margin-left: 37px;
    margin-top: 0px;
    background: #B84848;
}

.details_borderbox {
    width: 607px;
    height: 189px;
    background: #d56262;
    display: flex;
}

.details_panel {
    width: 417px;
    height: 189px;
    background: #882121;
}

.details_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    width: 417px;
    height: 189px;
    background: #882121;
}

.damage_panel {
    width: 190px;
    height: 189px;
    background: #767676;
}

.description_panel {
    width: 607px;
    height: 275px;
    background: #E8CD8A;
    overflow-y: scroll;
}

.description_panel_text {
    font-size: 12px;
    color: #000000;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px 20px;
}

.description_panel_text > h3 {
    font-size: 22px;
}

hr {
    width: 95%;
    height: 0.5px;
    background: #000000;
    opacity: 20%;
}

