

.details_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 654px;
    height: 509px;
    margin-left: 37px;
    margin-top: 0px;
    background: #B84848;
    animation: fadeIn 1.5s;

}

.details_container_ini {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 654px;
    height: 509px;
    margin-left: 37px;
    margin-top: 0px;
    background: #B84848;

}

.details_borderbox {
    width: 607px;
    height: 189px;
    background: #d56262;
    display: flex;
    
}

.details_panel {
    width: 417px;
    height: 189px;
    background: #882121;
}

.details_grid {
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    width: 417px;
    height: 189px;
    font-size: 12px;
    font-weight: 400;
    color: #ffffff;
    background: #882121;
}

.details_grid_item {
    align-items: center;
    justify-content: center;
    margin: 10px 10px;
}

.damage_panel {
    text-shadow: 0px 0px 4px #000000;
    display: flex;
    flex-direction: column;
    width: 190px;
    height: 189px;
    background: #767676;
    overflow-y: auto;
    font-family: Cinzel;
}

.damage_panel_header {
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #767676;
    font-family: Cinzel;
    animation: fadeIn 1.5s;
}

.damage_label {
    display: flex;
    font-size: 10px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 0px;
    margin-left: 0px;
    align-items: center;
    flex-direction: column;
    
}

.description_panel {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 607px;
    height: 275px;
    background: #E8CD8A;
    overflow-y: auto;

}

.description_panel_text {
    font-size: 12px;
    color: #000000;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px 20px;
    font-family: Cinzel;
    font-weight: 400;
}



hr {
    width: 95%;
    height: 0.5px;
    background: #000000;
    opacity: 20%;
    margin: 2px 0px;
}

statname {
    color: #000000;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @keyframes fadOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
    
  }