

.spell_card_details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    height: 65px;
    background-image: linear-gradient(to left, #C95656 , #FFF6A9);
    background-color: #FFF6A9;
    font-family: Cinzel;
    font-size: 22px;
    cursor: pointer;
    
    
}

.spell_card :hover {
    background-color: #FFF;
    animation: fadeOut;
    
}




.spell_card_text {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 85%;
    height: 65px;
    background-color: #FFF6A9;
    font-family: Cinzel;
    font-size: 22px;
}

.spell_card_heart:hover {
    color: #C95656;
    animation: fadeIn .5s;
    box-shadow: #C95656 0px 0px 10px;
}

.spell_card_heart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 65px;
    font-size: 40px;
    background-color: #C95656;
    cursor: pointer;
}



.spell_card {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    animation: fadeIn 1.5s;   
}

.spell_card:hover {
    box-shadow: #C95656 0px 0px 10px;
    
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @keyframes fadOut {
    0% { opacity: 1; }
    100% { opacity: 0; }  
  }

  @keyframes fadeHover {
    0% { opacity: 1; }
    100% { opacity: 0.5; }
  }
